.
{
    margin: 0;
    padding: 0;
}

body
{
    background-image:url(moon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.logo img
{
    width: 150px;
    height: auto;
    float: left;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.main-nav
{
    padding: 12px;
    float: right;
    min-width: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 300;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    list-style: none;
    color: white;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    line-height: 1rem;
}
.main-nav li
{
    display: inline-block;
    float: right;
    font-size: 13.5px;
    
}
.main-nav li a
{
    color: black;
    display: inline-block;
    float: right;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Verdana", sans-serif;
    position: right;
}
.main-nav li.active a
{
    border: 1px solid black;
    float: left;
    background-color: black;
    color: white;
    border-radius: 10px;
    object-position: right;
}
.main-nav li a:hover
{
    border: 1px solid white;
    float: left;
    border-radius: 10px;
}
body, html
{
    font-family: Cambria;
    height: 100%;
    width: 100%
}
.container
{
    width: 100%;
    width: 200px;
    height: 40px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    font-weight: 300;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: right;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-right: 30.500px;
    margin-bottom: 0px;
    margin-left: 30.500px;
    
}
.container2{
    width:100px;
    width: 700px;
    height: 40px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    box-sizing: border-box;
    font-weight: 300;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: end;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
}

.container li{
    position: right;
    float: right;
    align-items: flex-end;
} 
.container2 li{
    float: right;
    align-items: center;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}
.
{
    margin: 0;
    padding: 0;
}
.main-nav
{
    padding: 12px;
    float: right;
    min-width: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 300;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    list-style: none;
    color: white;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    line-height: 1rem;
}
.main-nav li
{
    display: inline-block;
    float: right;
    font-size: 13.5px;
}
.main-nav li a
{
    color: black;
    display: inline-block;
    float: right;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Verdana", sans-serif;
    position: right;
}
.main-nav li.active a
{
    border: 1px solid black;
    float: left;
    background-color: black;
    color: white;
    border-radius: 10px;
    object-position: right;
}
.main-nav li a:hover
{
    border: 1px solid white;
    float: left;
    border-radius: right;
}
.Header
{
    object-position: top; 
    height: 50px;
    width: auto;
    color: white;
    background-color: white;
}
@media only screen and (min-width: 860px)
#html5-logo-container { <style>
    display: block;
    float: left;
    width: 20%;
}
img {
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    height: 70px;
    width: 70px;
    float: start ;
}
.hero2 p
{
    position: bottom;
    color: white;
    float: right;
    font-size: 16px;
}
.hero2
{
    position: absolute;
    height: 12px;
    width: 1200px;
    margin-left: 20px;
    margin-top: 10px;
    top: 90%;
    left: -14%;
    transform: translate(-50%, -50%)
}
.blue-text{
    color: rgb(33, 150, 243);
    text-decoration: none;
    text-decoration-line: none;
    list-style: none;
    display: inline-block;
    font-weight: bolder;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
}
.blue-text a
{
    text-decoration-line: none;
    color: rgb(33, 150, 243);
    display: inline-block;
    
}