.
{
    margin: 0;
    padding: 0;
}
.container3{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.container3 span{
    text-transform: uppercase;
    display: block;
    
}
.text1{
    color: white;
    font-size: 60px;
    font-weight: 700px;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: grey;
    position: relative;
    animation: text 3s 1;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    border-radius: 7px;
}
.text2{
    font-size: 30px;
    color: #6ab04c;
}

body
{
    background-image:url(283086.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 100%;
    width: 100%;
}
h1{
    object-position: center;
    background-position: center;
    position: absolute;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.blue-text{
    color: rgb(33, 150, 243);
    text-decoration: none;
    text-decoration-line: none;
    list-style: none;
    display: inline-block;
    font-weight: bolder;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
}
.blue-text a
{
    text-decoration-line: none;
    color: rgb(33, 150, 243);
    display: inline-block;
    
}
.main-nav
{
    padding: 12px;
    float: right;
    min-width: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 300;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    list-style: none;
    color: white;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    line-height: 1rem;
}
.main-nav li
{
    display: inline-block;
    float: right;
    font-size: 13.5px;
    
}
.main-nav li a
{
    color: black;
    display: inline-block;
    float: right;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Verdana", sans-serif;
    position: right;
}
.main-nav li.active a
{
    border: 1px solid black;
    float: left;
    background-color: black;
    color: white;
    border-radius: 10px;
    object-position: right;
}
.main-nav li a:hover
{
    border: 1px solid white;
    float: left;
    border-radius: 10px;
}
body, html
{
    font-family: Cambria;
    height: 100%;
    width: 100%
}
.container
{
    width: 100%;
    width: 200px;
    height: 40px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    font-weight: 300;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: right;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-right: 30.500px;
    margin-bottom: 0px;
    margin-left: 30.500px;
    
}
.container2{
    width:100px;
    width: 700px;
    height: 40px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    box-sizing: border-box;
    font-weight: 300;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: end;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
}

.container li{
    position: right;
    float: right;
    align-items: flex-end;
} 

.container2 li{
    float: right;
    align-items: center;
}
p
{
    position: absolute;
    color: white;
    float: right;
    font-size: 17px;
}
.hero2
{
    position: absolute;
    height: 12px;
    width: 1200px;
    margin-left: 20px;
    margin-top: 10px;
    top: 90%;
    left: 45%;
    transform: translate(-50%, -50%)
}
.Header
{
    object-position: top; 
    height: 50px;
    width: auto;
    color: white;
    background-color: white;
}
@media only screen and (min-width: 860px)
#html5-logo-container { <style>
    display: block;
    float: left;
    width: 20%;
}
img {
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    height: 70px;
    width: 70px;
    float: start ;
}

@keyframes text {
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}